.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(90deg, rgba(74,74,80,1) 0%, rgba(30,26,65,1) 100%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(182, 182, 180);
}

.App-link {
  color: #61dafb;
}